# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.*

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Deployment
.vercel

# Certificates
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# Testing
coverage/

# Misc
*.tgz
*.zip
